.App {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #35424a;
    border-bottom: 2px solid red;
}

.BH {
    display: flex;
    padding-left: 5px;
    align-items: center;
}

.App p span {
    color: red;
}

.bodyMain {
    border: 15px dotted red;
    margin-top: 10px;
    border-left: 5px solid blue;
    border-right: blue 5px solid;
}

.wrapper {
    min-height: 400px;
    background: url('image/gsmarena_001.jpg') no-repeat;
    background-size: cover;
    margin: auto;
    padding-top: 80px;
}

.wrapper h1 {
    margin: 0;
    color: #ffffff;
    text-align: center;
}

.wrapper p {
    text-align: center;
    margin-top: 50px;
    color: #ffffff;
}

.seft {
    display: flex;
    justify-content: space-between;
    background-color: #35424a;
    min-height: 70px;
    padding-top: 40px;
}

.seft h2 {
    margin: 0;
    margin-left: 15px;
}

.seft1 {
    margin-right: 20px;
}

.seft1 input {
    margin-right: 20px;
    width: 500px;
    border: #61dafb solid 2px;
    border-radius: 5px;
    height: 34px;
}
.seft1 button{
    width: 100px;
    background: red;
    border-radius: 2px;
    height: 38px;
}
.seft1 button:hover{
    color:blue;
}

.continer div{
    border:1px solid #ccc;
    padding: 10px;
}
.box-1{
    flex: 1;
    order: 3;
    text-align: center;
}
.box-2{
    flex: 1;
    order: 2;
    text-align: center;
}
.box-3{
    flex: 1;
    order: 1;
    text-align: center;
}
.box-3 img{
   border-radius: 100%;
}

.foter{
    text-align: center;
    font-weight: bold;
    background-color: #35424a;
    min-height: 80px;
    padding-top: 20px;
    border-top: 2px solid red;
}
@media(min-width:600px){
    .continer{
        display: flex;
    }
}

.hMain {
    text-align: center;
}

.Atag {
    display: flex;
    align-items: center;
}

.a {
    padding-right: 5px;
    margin-right: 15px;
    text-decoration: none;
    font-size: larger;
    color: #ffffff;
}

.a:hover {
    color: red;
}

App p {
    font-size: 30px;
    color: #ffffff;
}

.BH h1 {
    color: #ffffff;
}

.BH button {
    margin-left: 25px;
    width: 100px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}